<footer class="shared footer bg-blue-light py-5">
	<div class="container">
		<div class="row pb-5">
			<div class="col-12 col-xl-4 text-center text-xl-start pb-4">
				<h4 class="fs-4 fw-semibold text-uppercase text-primary">
					{{ .Site.Title }}
				</h4>
				<p class="small text-black-61">{{ .Site.Params.description }}</p>
				{{ with .Site.Params.social }}
				<ul class="d-flex justify-content-center justify-content-xl-start list-unstyled">
					{{ with .dribbble }}
					<li class="rounded-circle bg-blue-63 me-2 p-2">
						<a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial
							"icons/dribbble.html" }}</a>
					</li>
					{{ end }} {{ with .instagram }}
					<li class="rounded-circle bg-blue-63 me-2 p-2">
						<a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial
							"icons/instagram.html" }}</a>
					</li>
					{{ end }} {{ with .facebook }}
					<li class="rounded-circle bg-blue-63 me-2 p-2">
						<a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial
							"icons/facebook.html" }}</a>
					</li>
					{{ end }} {{ with .twitter }}
					<li class="rounded-circle bg-blue-63 me-2 p-2">
						<a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial
							"icons/twitter.html" }}</a>
					</li>
					{{ end }}
				</ul>
				{{ end }}
			</div>
			<div class="col-12 col-xl-2 text-center text-xl-start pb-4">
				<h5 class="fs-6 fw-semibold text-primary">About us</h5>
				<ul class="list-unstyled">
					{{ range .Site.Menus.footer }}
					<li class="">
						<a class="small text-black-61 text-decoration-none" href="{{ .URL }}">{{ .Name }}</a>
					</li>
					{{ end }}
				</ul>
			</div>
			<div class="col-12 col-xl-3 text-center text-xl-start pb-4">
				<h5 class="fs-6 fw-semibold text-primary">Location</h5>
				<ul class="list-unstyled">
					{{ range .Site.Params.location }}
					<li class="d-flex justify-content-center justify-content-xl-start mb-2">
						<div class="d-flex align-items-center text-primary">
							{{ partial "icons/geo-alt.html" }}
						</div>
						<p class="small text-black-61 m-0 ps-2">{{ . }}</p>
					</li>
					{{ end }}
				</ul>
			</div>
			<div class="col-12 col-xl-3 text-center text-xl-start pb-4">
				<h5 class="fs-6 fw-semibold text-primary">Contact us</h5>
				{{ range .Site.Params.contact }}
				<p class="small text-black-61 mb-1">{{ . }}</p>
				{{ end }}
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				{{ with .Site.Params.copyright }}
				<p class="small text-black-61 text-center">{{ . }}</p>
				<p class="small text-black-61 text-center">
					Theme:
					<a href="https://gitlab.com/writeonlyhugo/up-business-theme/">up-business</a>
				</p>
				{{ end }}
			</div>
		</div>
	</div>
</footer>
