<section class="section container mb-5">
	<h3 class="fs-1 text-primary fw-bold text-center text-uppercase">
		Recent Posts
	</h3>
	{{ range first 5 (where site.RegularPages "Type" "in"
	site.Params.mainSections).ByDate.Reverse }}
	<div class="col-12 col-md-6 col-lg-4 mt-5">
		<a class="card text-decoration-none h-100" href="{{ .Permalink }}">
			<div class="card-body">
				<h5 class="card-title fw-semibold">{{ .Title }}</h5>
				<p class="card-text text-black-61">{{ .Summary | plainify }}</p>
				<div class="text-left fs-6 text-dark font-monospace mt-2">
					{{.Date.Format "2 Jan 2006"}}
				</div>
			</div>
		</a>
	</div>
	{{end}}
</section>
