{{ define "main" }}
<section class="section blog-single py-5">
	<div class="container">
		<div class="row justify-content-center pb-5">
			<div class="col-12">
				{{ with .Title }}
				<h2 class="display-3 fw-bold text-center text-primary pb-3">{{ . }}</h2>
				{{ end }} {{if eq .Section "post"}}
				<div class="text-center">
					<b>Posted on:</b> {{.Date.Format "2 Jan 2006"}}
				</div>
				{{end}} {{ with .Params.description }}
				<p class="text-black-61 text-center pb-3">{{ . }}</p>
				{{ end }}
			</div>
		</div>
		<div class="row pb-5">
			<div class="justify-content-center d-flex">
				<div class="blog-content fs-5">{{ .Content }}</div>
			</div>
		</div>
		<div class="row pb-5"></div>
	</div>
</section>
{{ end }}
