{{define "main"}}
<h2 class="display-3 fw-bold text-center text-primary pb-3">{{.Title}}</h2>
<section class="container text-center mb-5">
	<p>Thank your for choosing to donate to Peoples Council Of Education.
	Please click on the <b>"Donate Now"</b> button below to proceed.
	There are many payment options available, Such as Credit/Debit Cards, UPI, Netbanking & Mobile wallets.
	</p>
	<form class="mt-5"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_OEmljG1vmB3lRg" async> </script> </form>
</section>
{{end}}
